* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    /* padding: 20px 0; */
    color: rgb(255, 255, 255);
    height: 50px;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 5;
}

nav .logo {
    font-family: 'Poppins';
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 0,8mm;
}

nav ul li a:hover {
    color: white;
}
/* Slideshow */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: crosshair;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition:  3s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: initial;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 48px;
    height: 28px;
    left: -10px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
    
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;

}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;

}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px)
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0)
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0)
}



/* Responsive Breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  nav ul {
    width: 100%;
  }
    
}

/* ukuran mobile */
@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
    .menu-toggle {
        display: flex;
    }

    .menu-toggle > input {
      position: absolute;
      width: 100%;
      height: 28px;
      left: -10px;
      top: -3px;
      opacity: 0;
      cursor: pointer;
      z-index: 2; 
    }

    .menu-toggle span {
      display: block;
      width: 28px;
      height: 3px;
      background-color: rgb(255, 255, 255);
      border-radius: 3px;
      transition: all 0.5s;
      z-index: 3;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 85%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        text-align: center;
        background-color: black;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s ;
        opacity: 0;
    }

    nav ul.slide {
        transform: translateX(0);
        opacity: 1;
    }
}


